@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Kdam+Thmor+Pro&display=swap');

.ctnTimerAndTitle {
    background-color: rgb(233, 231, 231);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.ctnTitleAlarm {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ctnTimerBoss {
    display: flex;
    justify-content: space-around;
    
}

.ctnTimesBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 70px;
    width: 60px;
}

.ctnTimerBossBilefen {
    margin-top: 50px;
}

.ctnDayTime {
    text-align: center;
}


.ashwoldTitle{
    text-align: center;
}

.ashwoldImg{
    height: 40%;
}

.titleTimer {
    font-size: 0.7em;
}

.fontTime {
    font-family: "Chakra Petch";
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(23, 169, 23);
}