

.ctnNavigation {
    display: flex;
    align-items: center;
    padding-top:40px;
    padding-bottom:40px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(43,3,3,1) 100%);

}


.ctnLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    transform: translateX(120%);
}

.weedQc {
    height: 50px;
    margin-left: 5%;
}

.navigationLink {
    color: rgb(239, 239, 239);
    font-size: 1.3em;
}

.active {
    font-weight: 600;
}

.userNameNavigation{
    color: white;
    margin-left: auto;
    margin-right: 5%;
    font-size: 1.2em;
    font-weight: 600;
}

.pointSignal {
    display: none;
    position: absolute;
    transform: translate(1200%, -270%);
    height: 8px;
    width: 8px;
    background-color: rgb(201, 43, 43);
    border-radius: 50%;
}